body {
  background-color: burlywood;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.quiz-container h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 7rem;
  line-height: 10rem;
  letter-spacing: 1px;
  color: cadetblue;
}

#form-quiz {
  display: flex;
  flex-direction: column;
  border: 4px outset cadetblue;
  width: 30%;
  height: auto;
  padding: 40px;
  gap: 10px;
  box-shadow: 5px 5px 30px 7px cadetblue;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition: transform 1s ease-in-out, opacity 0.7s ease-in-out;
}
#form-quiz.hide {
  transform: translate(200%, -50%);
  opacity: 0;
}

#form-quiz label {
  font-size: 22px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#form-quiz select,
input {
  font-size: 15px;
  line-height: 15px;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 15px;
}

#form-quiz button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  transition: 0.7s;
}
#form-quiz button:hover,
#start-quiz:hover {
  background-color: cadetblue;
  color: white;
}

#start-quiz {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;

  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50vh);
  visibility: hidden;
}
#start-quiz.show {
  transform: translateX(-50%) translateY(40vh);
  visibility: visible;
  /* transition: transform 0.7s ease-in-out, opacity 0.7s; */
  opacity: 1;
}

.questions-card {
  border: 5px solid cadetblue;
  border-radius: 25px;
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px;
  margin: 30px;
  display: none;
}

.questions-card h3 {
  font-size: 30px;
  line-height: 30px;
  color: cadetblue;
}

.answer-btn {
  height: 60px;
  width: 90%;
  cursor: pointer;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  transition: 0.7s;
}
.answer-btn:hover {
  background-color: cadetblue;
  color: white;
}
#next-question-btn,
.starting-page-btn {
  height: 40px;
  width: 30%;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  transition: 0.7s;
  order: 5;
}
#next-question-btn:hover {
  background-color: black;
  color: white;
}

#quiz-score-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.score-heading {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 20px;
}
.score-description {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.selected-answer {
  border: 2px solid black;
}

.wrong-answer {
  background-color: red;
}

.correct-answer {
  background-color: green;
}

#list-of-scores {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: auto;
  list-style: none;
}
#list-of-scores li {
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  padding: 10px;
  width: 90%;
}
.previous-scores {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 30px;
  color: cadetblue;
}
.previous-scores p{
  color: black;
  font-size: 20px;
}

.no-previous-scores{
  color: black;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .quiz-container h1 {
    font-size: 5rem;
    line-height: 7rem;
    letter-spacing: 0;
  }
  #form-quiz {
    width: 40%;
    gap: 10px;
    padding: 20px;
    top: 60%;
    transform: (-50%, -50%);
    margin-top: 30px;
  }
  #form-quiz button{
    padding: 5px;
    margin-top: 20px;
  }
  .questions-card {
    width: 50%;
  }
  #form-quiz label {
    font-size: 20px;
    line-height: 20px;
  }
  #next-question-btn,
  .starting-page-btn {
    width: 20%;
  }
  #form-quiz select,
input {
  height: 30px;
}
}